     
  /* Import fonts */
  @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

  * {
    letter-spacing: 3px;
  	margin: 0;
  	padding: 0px;
    font-family: 'Lato', sans-serif;

  }



  html, body {
      background-image: url('../img/team/header-bg.jpg');
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
      -o-background-size: cover;
      text-align: center;
      color: white;
            height: 100%;
            margin: 0;
            padding: 0;
      font-style: Lato;

  }

    h1, h2, p{
      color:black;
    }

  #map {
    height: 80%;
    z-index: 9999999;
  }

  #page-scroll btn btn-xl{
    width: 30px;
  }

  .navbar-brand {
 

  }

  #hey {
    margin: 16px 200px 30px 200px;
    font-size: 30px;
    letter-spacing: 3px;
  }


.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: white;
  color:black;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: black;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: pink;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
#target {
  width: 345px;
}